<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logMonitor" type="LogMonitor.Configuration.LogMonitorConfiguration, LogMonitor"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <logMonitor>
    <watch>
      <add path="C:\Users\ben\AppData\Roaming\.purple\logs\jabber\directory1" maxDaysInactive="2" />
      <add path="C:\Users\ben\AppData\Roaming\.purple\logs\jabber\directory2" maxDaysInactive="2" />
      <add path="C:\Users\ben\Documents\EVE\logs\Chatlogs" maxDaysInactive="1" />
    </watch>
    <parser>
      <add scriptPath=".\Scripts\EveKeywordsAlerter.ps1" pattern="\.txt$" />
      <add scriptPath=".\Scripts\EveJabberKeywordsAlerter.ps1" pattern="\.html$" />
    </parser>
    <output>
      <add pathPattern="\.txt" type="." target="console" metricsPrefix="evelogs" />
      <add pathPattern="\.html$" type="." target="console" metricsPrefix="jabberlogs" />
    </output>
  </logMonitor>
</configuration>